.most {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    padding: 60px 240px 90px 240px;
}

.most_content {
    max-width: 940px;
    height: 752px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.most_title {
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 20px;
}

.most_card_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px;
}

.most_card {
    width: 296px;
    height: 291px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background: #FFFFFF;
    border-radius: 10px;
}

.most_img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
}

.most_card_title1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #101315;
    padding: 0px 10px;
    margin-top: 10px;
}

.most_card_title2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #7A7A7A;
    padding: 0px 10px;
    margin-top: 10px;
}

.most_line {
    margin-top: 30px;
}

.most_user_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 10px;
}

.user_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.most_username,
.most_data {
    font-size: 11px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #999999;
}

.most_data {
    font-size: 14px;
}

/* -------------------------------------- */

@media (max-width:980px) {
    .most {
        padding: 60px 20px 90px 20px;
    }

    .most_content {
        height: auto;
    }

    .most_card_content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: auto;
    }
}

@media (max-width:660px) {
    .most_card_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width:350px) {
    .most_card {
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
}