.posts {
    max-width: 1440px;
    height: auto;
    padding: 100px 240px 30px 240px;
    margin: 0 auto;
}

.post_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.post_list {
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;
    color: #2E2E2E;
    border-bottom: 2px solid #DEDEDE;
    padding-bottom: 20px;
}

.post_content_childs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.post_card1,
.post_card2 {
    max-width: 460px;
    height: 280px;
    border-radius: 5px;
    background-image: url("../assets/images/post1.png");
    object-fit: contain;
    padding: 20px;
}

.post_card2 {
    background-image: url("../assets/images/post2.png");
}

.hover_btn {
    width: 100px;
    height: 26px;
    background: #DD783F;
    border-radius: 2px;
    color: #DEDEDE;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 5px 10px;
    cursor: pointer;
    transition: .5s;
}

.hover_btn:hover {
    background: none;
    border: 1px solid #DD783F;
    color: #DD783F;
    transition: .5s;
}

.post_card_list1 {
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 110px;
}

.post_card_list2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #FFFFFFB2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post_user_content {
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.username {
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #FFFFFFB2;

}

.date {
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #FFFFFFB2;
}

/* --------------------------------- */

@media (max-width:1000px) {
    .post_content_childs {
        grid-template-columns: 1fr;
    }
}

@media (max-width:500px) {
    .posts {
        padding: 100px 20px 30px 20px;
    }

    .post_card1,
    .post_card2 {
        width: 300px;
    }

    .post_user_content {
        display: none;
    }
}